[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.23.2"
pandas = "==1.4.4"
plotly = "==5.10.0"
plotly-express = "==0.4.1"
streamlit = "==1.12.2"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.8"
